body {
	margin: 0;
}

canvas {
	width: 0%;
	height: 100%
}

/* ==================================== 
Navigation 
==================================== */

a {
	color: green !important;
}

a:hover {
	color: #8B0000 !important;
	background-color: #000 !important;
	font-size: 1.2rem;
}

.columns {
	margin-top: -15px;
}

h1, h3, ul li {
	background-color: #FFF !important;
	font-family: 'Permanent Marker', cursive;
}

#position {
	margin-top: 1rem;
}


/* ==================================== 
Research 
==================================== */

.footer {
	margin-top: 1rem;
}

.photo-container {
 /* display: inline-block;*/
  margin: 0 2rem;
  text-align: center;
  width: auto;
}

.photo-container img {
 	max-width: 100%;
 	/*position: relative;*/
	z-index: 100;
}

/*.photo {
	position: relative;
}
*/
.photo-desc {
  background: #8B0000 none repeat scroll 0 0;
  bottom: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: absolute;
  right: 0;
  top: 0;
}

.text {
	border: solid #8B0000 0.1rem;
	padding: 1rem;
	width: 25rem;
}

/* ==================================== 
 Research: Transforms & Transitions
==================================== */

.photo {
	transition: transform 1s ease-in;
	transform-style: preserve-3d;
}

.photo:hover {
	transform: rotate3d(1,0,0, 180deg);
}

.side-a, .side-b {
	backface-visibility: hidden;
}

.side-b {
	transform: rotateX(180deg);
}

/* ==================================== 
Publications 
==================================== */

.card {
	background-color: #F5F5F5;
	border-radius: 5% !important;
	margin-top: 1rem;
}

/* ==================================== 
Lab Members
==================================== */

#lab-members {
	background-color: #F5F5F5 !important;
	font-family: 'Permanent Marker', cursive;
}

.format {
	width: 12rem;
}

/* ==================================== 
Resources
==================================== */

.accordion-title {
	font-size: 1.5rem !important;
}

/* ==================================== 
Teaching
==================================== */

.courses {
	font-family: arial !important;
}

/* ==================================== 
Contact
==================================== */

.collapse {
	margin-top: 1rem;
}

